<app-responsive-toolbar></app-responsive-toolbar>
<button mat-icon-button color="primary" (click)="sidenav.toggle()" style="position: fixed;top: 75px; left:-5px; z-index:1000">
  <mat-icon *ngIf="!sidenav.opened">
    arrow_forward_ios
  </mat-icon>
  <mat-icon *ngIf="sidenav.opened">
    arrow_back_ios
  </mat-icon>
</button>
<mat-sidenav-container>
  <mat-sidenav mode="side" hasBackdrop="false" #sidenav="matSidenav" class="alt-theme" color="primary">
    Side Nav

  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8" role="main">

      <div>
        <mat-card>
          Main Theme:
          <button mat-raised-button color="primary">
            Primary
          </button>
          <button mat-raised-button color="accent">
            Accent
          </button>
          <button mat-raised-button color="warn">
            Warning
          </button>
        </mat-card>

        <mat-card class="alt-theme">
          Alternate Theme:
          <button mat-raised-button color="primary">
            Primary
          </button>
          <button mat-raised-button color="accent">
            Accent
          </button>
          <button mat-raised-button color="warn">
            Warning
          </button>
        </mat-card>
      </div>


    </div>
  </mat-sidenav-content>
</mat-sidenav-container>


<router-outlet></router-outlet>
