<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<app-responsive-toolbar></app-responsive-toolbar>
<button mat-icon-button color="primary" (click)="sidenav.toggle()" style="position: fixed;top: 75px; left:-5px; z-index:1000">
  <mat-icon *ngIf="!sidenav.opened">
    arrow_forward_ios
  </mat-icon>
  <mat-icon *ngIf="sidenav.opened">
    arrow_back_ios
  </mat-icon>
</button>
<mat-sidenav-container >
  <mat-sidenav mode="side" hasBackdrop="false" #sidenav="matSidenav" class="mat-elevation-z8">
    Side Nav

  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8" role="main">
      Main Content

    </div>
  </mat-sidenav-content>
</mat-sidenav-container>


<router-outlet></router-outlet>
